/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente na página */
    align-items: center; /* Centraliza verticalmente na página */
    height: 200mm; /* Define a altura da página de impressão para 200 mm */
}

/* Estilos do comprovante */
#comprovante {
    background-color: #ffffff;
    padding: 10px; /* Ajuste o espaçamento interno para 10px */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100mm; /* Define a largura da página de impressão para 100 mm */
    text-align: center; /* Centraliza o texto horizontalmente */
}

#comprovante p {
    margin: 5px 0; /* Ajusta o espaçamento entre os parágrafos para 5px */
}

#qrCode {
    max-width: 100%;
}

/* Estilos específicos para a impressão */
@media print {
    body * {
        visibility: hidden;
    }
    #comprovante, #comprovante * {
        visibility: visible;
    }
    #comprovante {
        position: absolute;
        left: 0;
        top: 0;
    }
}
